{{#typeName.packageName}}package {{{typeName.packageName}}};{{/typeName.packageName}}

public class {{{typeName.className}}} implements com.exactpro.epfast.ICreator {
    private static final String FAST_PACKAGE = "{{{fastPackage.packageName}}}";

    public com.exactpro.epfast.IFieldSetter createSetter(String name) {
{{#fastPackage.fastTypes}}
        if ("{{{typeName}}}".equals(name)) return new {{{fieldSetterTypeName}}}();
{{/fastPackage.fastTypes}}
        throw new RuntimeException("FastType name=\"" + name + "\" not found");
    }

    public String getFastPackage() {
        return FAST_PACKAGE;
    }
}
