{{#typeName.packageName}}
package {{{typeName.packageName}}};
{{/typeName.packageName}}

public class {{{typeName.className}}} implements com.exactpro.epfast.annotation.ICreator{
    public Object create(String name) {
    {{#nameClassEntries}}
        if ("{{{key}}}".equals(name)) return new {{{value}}}();
    {{/nameClassEntries}}
        throw new RuntimeException("FastType name=\"+name+\" not found");
    }

}
